@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Solicitudes de tarjetas de crédito</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="justify-content-center aling-items-center vh-100">
    <div class="container-fluid col-auto text-center">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                //message tiene valor
                <div class="alert alert-warning">@ViewBag.Message</div>
            }
        }
        <form action="/Home/Login" method="post" >
            <div class="form-group">
                <input type="text" name="Correo" value="" placeholder="Usuario" />
            </div>
            <div class="form-group">
                <input type="password" name="Contrasenna" value="" placeholder="Clave" />
            </div>
            <div class="form-group">
                <button>Iniciar Sesión</button>
            </div>
        </form>
    </div>
</body>
